{% extends 'base.html' %}

{% block title %}
    Category List
{% endblock %}

{% block content %}
    <h3>Category List</h3>
    <a href="{% url 'home-view' %}"><input type="button" value="Home" class="btn btn-link"></a>
<p>Number of links : <strong>{{ number_of_links }}</strong>, including <strong>{{ urls_without_category }}</strong> without category.</p>
    <table style="color: white">
        <tr>
            <th>Category name</th>
            <th>Quantity of links</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><strong><a href="{% url 'category-detail-view' object.pk %}">{{ object }}</a></strong></td>
            <td style="text-align: center">{{ object.justurl_set.count }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}