{% extends 'base.html' %}

{% block title %}
    Details
{% endblock %}

{% block content %}
    <h3>Details of {{ object.short_url }}</h3>
    <p>Parent URL : <a href="{{ object }}">{{ object.input_url }}</a></p>
    <p>Active -
        {% if object.active %}
            Yes!
            <form method="post" action=""> {% csrf_token %}
                {{ form }}
                <input class="btn btn-link" value="{{ object.short_url }}" type="submit">
            </form>
        {% else %}
        No | <span style="color: red">Disabled</span>
        {% endif %}
    </p>
    <p>
        Counter: {{ object.count }}
    </p>
    <p>Category -
        {% if object.category %}
            <a href="{% url 'category-detail-view' object.category.pk %}"><input type="button" value="{{ object.category.name }}" class="btn btn-link"></a>
        {% else %}
            No
        {% endif %}</p>
    <small><a href="{% url 'url-update-view' object.pk %}">Update</a> | </small>
    <small><a href="{% url 'url-delete-view' object.pk %}">Delete</a></small>
    <hr>
    {% if object.category %}
    <a href="{% url 'category-detail-view' object.category.pk %}"><input type="button" class="btn btn-success" value="Back"></a>
    {% endif %}
{% endblock %}
